:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 108 76 173;
  --oui-color-primary-light: 165 132 208;
  --oui-color-primary-darken: 83 56 143;

  --oui-color-link: 144 90 208;
  --oui-color-link-light: 193 142 230;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 240 84 158;
  --oui-color-danger-light: 250 143 193;
  --oui-color-danger-darken: 228 63 133;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 217 145;
  --oui-color-success-light: 92 228 173;
  --oui-color-success-darken: 0 173 109;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 191 59;
  --oui-color-warning-light: 255 221 98;
  --oui-color-warning-darken: 255 153 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 45 38 63;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 78 62 118;
  --oui-color-base-2: 67 54 103;
  --oui-color-base-3: 56 47 83;
  --oui-color-base-4: 48 42 73;
  --oui-color-base-5: 42 37 64;
  --oui-color-base-6: 36 32 56;
  --oui-color-base-7: 60 51 100;
  --oui-color-base-8: 27 24 43;
  --oui-color-base-9: 20 18 33;
  --oui-color-base-10: 13 11 23;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 240 84 158;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 217 145;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 75 53 141;
  --oui-gradient-primary-end: 144 90 208;

  --oui-gradient-secondary-start: 67 54 103;
  --oui-gradient-secondary-end: 108 76 173;

  --oui-gradient-success-start: 15 123 84;
  --oui-gradient-success-end: 34 217 145;

  --oui-gradient-danger-start: 184 42 107;
  --oui-gradient-danger-end: 240 84 158;

  --oui-gradient-brand-start: 201 173 230;
  --oui-gradient-brand-end: 159 107 189;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 184 123 28;
  --oui-gradient-warning-end: 255 191 59;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}